.friendSearch {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 20px calc(100% - 50px - 20px - 20px);
  row-gap: 10px;
}

.friendSearch_search {
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
  color: #797979;
}

.friendSearch__list {
  overflow: auto;
}
