.dialogues {
  display: grid;
  height: 100%;

  column-gap: 10px;
  grid-template: 60px calc(100% - 60px - 100px - 20px - 10px) 100px/ 200px 1fr;
  grid-template-areas:
    'title avatar'
    'aside messages'
    'aside input';
}

.dialogues__title {
  grid-area: title;
}
.dialogues__aside {
  grid-area: aside;
  overflow: auto;
}
.dialogues__avatar {
  grid-area: avatar;
}
.dialogues__messages {
  grid-area: messages;
  overflow: auto;
}
.dialogues__input {
  grid-area: input;
}
