.dialogues {
    display: grid;
    grid-template: 60px 1fr / 1fr;
    padding: 1rem;
}

/* .dialogues__titleContainer {
    margin-bottom: 20px;
} */

.dialogues__container {
    display: grid;
    grid-template: auto / 200px 1fr;
    grid-column-gap: 15px;
}

.dialogues__correspondence {
}
