.dialogs {
    display: grid;
    grid-template: auto 1fr / 1fr;
    padding: 1rem;
}

.dialogs__container {
    display: grid;
    grid-template: auto / 200px 1fr;
    grid-column-gap: 15px;
}

.dialogs__correspondence {
}
