.title {
  font-size: 2rem;
  text-transform: capitalize;
  color: #424242;
  /* padding-bottom: 20px; */
  position: relative;
  display: inline-block;
  width: 100%;
}

.title::after {
  content: '';
  position: absolute;
  left: 0;
  top: 35px;
  width: 50px;
  height: 2px;
  background-color: hsl(199, 96%, 80%);
}

.title::before {
  content: '\e6b8';
}
