.navbar {
  grid-area: n;
  padding: 10px;
  background-color: white;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 150px 1fr;
  row-gap: 10px;
}

.navbar__nav {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between  ;
  padding: 0 5px;
}

.navbar__link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #797979;
  text-transform: capitalize;
  text-decoration: none;
  /* display: block; */
  /* position: relative;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 400;
  color: #797979;
  vertical-align: top; */
}

.item a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
}

.item a.active {
  color: hsl(90, 79%, 60%);
}
