.messageInput {
  width: 100%;
}

.messageInput__inputContainer {
  max-width: 100%;
  padding-top: 5px;
}
.messageInput__input {
  width: 100%;
  padding: 5px;
  outline: none;
  border: 1px solid #e1e8ed;
  box-sizing: border-box;
}
.messageInput__input:focus {
  box-shadow: 0 2px 0 0 #77b7e4;
}

.messageInput__sendContainer {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 5px;
}
.messageInput__send {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  background: none;
  outline: none;
  /* color: black; */
}
.messageInput__send:hover {
  color: #77b7e4;
  font-weight: 600;
  cursor: pointer;
}
