.sidebar {
  grid-area: n;
  padding: 10px;
  background-color: white;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 150px calc(100% - 50px - 150px - 20px);
  row-gap: 10px;
}
