.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
    'h h'
    'n c'
    'f f';

  grid-template-rows: 60px calc(100vh - 60px - 5px - 20px) 5px;
  grid-template-columns: 200px 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: white;
  padding: 10px;
}
