html {
  font-size: 10px;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* =================================== */
/* Scrollbar */
/* Works on Firefox */
* {
  scrollbar-width: 10px;
  scrollbar-color: inherit inherit;
}
*:hover {
  scrollbar-color: hsl(0, 0%, 38%);
  scrollbar-width: 4px;
  scroll-margin: 3px;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background: inherit;
}
*::-webkit-scrollbar-thumb {
  background-color: inherit;
  border-radius: 20px;
  border: 3px solid hsl(0, 0%, 100%);
}
*:hover::-webkit-scrollbar-thumb {
  /* border: 8px; */
  /* background-color: hsl(0, 0%, 38%); */
  background-color: hsla(0, 0%, 38%, 0.212);
}
*::-webkit-scrollbar-thumb:hover {
  animation: border 5s ease;
  border: 0;
}
/* =================================== */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(244, 242, 242);
  scrollbar-width: 5px;
  scrollbar-color: #e0e0e0 #616161;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
