.dialogs {
    display: grid;
    grid-template: auto 1fr / 1fr;
    padding: 1rem;
}

.dialogs__title {
    font-size: 2rem;
    text-transform: capitalize;
    color: #424242;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.dialogs__title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 50px;
    height: 2px;
    background-color: hsl(199, 96%, 80%);
}

.title__icon::before {
    content: '\e6b8';
}

.dialogs__container {
    display: grid;
    grid-template: auto / 200px 1fr;
    grid-column-gap: 15px;
}

.dialogs__companions {
    border-right: 1px solid #e1e8ed;
    list-style: outside none none;
    max-height: 500px;
    overflow: auto;
}

.companions__user {
    display: flex;
    position: relative;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #e1e8ed;
    align-content: center;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.companions__user_active {
    background-color: #6490b1;
}

.user__avatar {
    max-width: 35px;
    min-width: 35px;
    /*width: 35px;*/
    height: 35px;
    position: relative;
    margin: 0 10px;
}

.user__icon {
    width: 100%;
    border-radius: 50%;
}

.user__status {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #bebebe none repeat scroll 0 0;
}

.user__status_online {
    background-color: hsl(90, 79%, 60%);
}

.user__status_away {
    background-color: #ffd300;
}

.user__status::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: white none repeat scroll 0 0;
}

.user__name {
    font-size: 1.4rem;
    font-weight: 400;
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.correspondence__companion {
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #e1e8ed;
}

.companion__avatar {
    max-width: 45px;
    min-width: 45px;
}

.companion__icon {
    width: 100%;
    border-radius: 50%;
}

.companion__info {
    margin-left: 10px;
}

.companion__name {
    font-size: 1.8rem;
    font-weight: 700;
    color: #545454;
}

.companion__status {
    font-size: 1.2rem;
    font-style: italic;
    color: #838383;
    text-transform: capitalize;
}

.correspondence__messages {
}

.messages__message {
    display: flex;
    margin: 10px 0;
    align-items: flex-start;
}

.messages__message_me {
    flex-direction: row-reverse;
}

.messages__message_you {
    flex-direction: row;
}

.message__avatar {
    max-width: 30px;
    min-width: 30px;
    height: 100%;
    position: relative;
}

.message__icon {
    width: 100%;
    border-radius: 50%;
}

.message__status {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #bebebe none repeat scroll 0 0;
}

.message__status_online {
    background-color: hsl(90, 79%, 60%);
}

.message__status_away {
    background-color: #ffd300;
}

.message__status::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: white none repeat scroll 0 0;
}

.message__text {
    position: relative;
    margin: 0 10px;
    padding: 5px 8px;
    width: 75%;
    border-radius: 10px;
    font-size: 1.3rem;
    vertical-align: top;
    color: #434343;
}

.message__text_me {
    background-color: rgba(202, 239, 142, 0.65);
}
.message__text_you {
    background-color: rgba(24, 174, 239, 0.2);;
}

/*.companions__title {*/
/*    font-size: 2rem;*/
/*    color: hsl(0, 0%, 0%);*/
/*}*/

/*.companions__list {*/
/*    margin-left: 2rem;*/
/*}*/

/*.companions__user {*/
/*    font-size: 1.6rem;*/
/*}*/

/*.companions__user.active {*/
/*    color: hsl(90, 79%, 60%);*/
/*}*/

/*.dialogs__messages {*/
/*    !*margin: 1rem;*!*/
/*}*/

/*.messages__message {*/
/*    padding: 1rem 0;*/
/*    font-size: 1.6rem;*/
/*}*/